/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1750px) {
}


@media only screen and (max-width: 1630px) {
	header{
		left: 30px;
	}
}

@media only screen and (max-width: 1500px) {
	header{
		width: 133px;
		top: 0;
		left: 0;
		bottom: 0;
		padding-top: 20px;
		padding-left: 6px;
		padding-right: 5px;
		-webkit-appearance: none;
	}
		.logo a{
			width: 100%;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

	

}

@media only screen and (max-width: 1440px) {
	header{
		padding-right: 10px;
	}
		
		#data-contact_us,
		footer{
			padding-left: 80px;
		}

		
}

@media only screen and (max-width: 1400px) {
	header{
		width: 160px;
	}
}

@media only screen and (max-width: 1368px) {
	
	#content{
		padding: 0 0 0 150px;
	}

	/*.canvas_wrap #canvas{width: 80% !important;}*/
	.canvas_wrap{
		left: 130px;
	}
}

@media only screen and (max-width: 1200px) {
	#data-contact_us, footer{
		padding-left: 160px;
	}
	footer .row{
		margin: 0;
	}
	
	.list1 li{
		font-size: 18px;
	}

	header{
		background-color: #FFF;
	}	
}

@media only screen and (max-width: 1024px) {
	.slider .owl-controls{
		left: -75px;
		right: -75px;
	}
	.price_item .button{
		width: 100%;
	}
	.price_item{
		padding-left: 20px;
		padding-right: 20px;
	}
	.num_list li{
		font-size: 26px;
	}

	#content{
		/*padding: 0 0 0 125px;*/
	}

	.slider .owl-buttons{
		left: 0px;
		right: 0px;
	}

	.logo_footer{
		margin-left: auto;
		margin-right: auto;
		margin-top: -5px;
		margin-bottom: 10px;
	}

	.canvas_wrap + .absolute_form{
		top: 450px;
		transform: translateX(-220px);
	}
	.arrow_down{
		top: 950px;
		margin-left: 38px;
	}

	footer{text-align: center;}
}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}
	.num_list li{
		font-size: 24px;
	}

	.price_num{font-size: 65px;}

}

@media only screen and (max-width: 768px) {
	.list1 li{font-size: 16px;}
	.price_num{font-size: 56px;}

	.canvas_wrap,
 	.canvas_wrap + .absolute_form{display: none;}
	header{
		position: fixed;
		right: 0;
		left: 0;
		width: 100%;
		height: 75px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #747474;
	}
		.logo{
			float: left;
			width: 216px;
			height: 59px;
		}
			.logo a{
				height: 58px;
				background: url(../images/logo-footer.svg) 0 0 no-repeat;
			}
		nav{
			position: fixed;
			top: 0;
			right: -335px;
			width: 320px;
			/*left: 0;*/
			bottom: 0;
			background-color: #FFF;
			-webkit-box-shadow: 1px 1px 15px #9b9b9b;
			        box-shadow: 1px 1px 15px #9b9b9b;
			padding: 45px 15px;
			
			-webkit-transition: all 0.3s ease;
	          -moz-transition: all 0.3s ease;
	          -o-transition: all 0.3s ease;
	          transition: all 0.3s ease;
		}
		.nav_overlay nav{
			right: 0;
		}
		.menu{text-align: left;}

	.menu_btn{display: block;}
	.menu_close{
		width: 36px;
		height: 36px;
		display: block;
		float: right;
		margin-top: -30px;
		margin-bottom: 10px;
		background: url(../images/close.png) 50% 50% no-repeat;
	}
		.menu_item{margin-bottom: 7px;}
		.menu_link{font-size: 16px;}
		.menu_item.current .menu_link,
		.menu_link:hover{font-size: 18px;}


	#content{padding: 100px 0 0;}


	#data-contact_us{
		padding-left: 0;
	}
	footer{padding-left: 15px;}


	.button.d_none{
		display: block;
		margin-top: 30px;
		color: #6E6E6E;
	}

	#content .container:first-child{
		padding-bottom: 0;
		padding-top: 0;
	}

	.arrow_down{display: none;}

	.num_list li,
	.num_list li:nth-child(even){
		text-align: center;
		float: none;
		width: 100%;
		margin-bottom: 75px;
	}
		.num_list li:nth-child(odd)::after,
		.num_list li:nth-child(odd)::before,
		.num_list li:nth-child(even)::before,
		.num_list li:nth-child(even)::after{
			left: 0;
			right: 0;
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

	.card,
	.scrollpane{
		margin-bottom: 0;
	}

	.title3{font-size: 18px;}

	.hidden_block{width: 100%;}


	.testimonial_content span{
		display: none;
	}

	[id^="data-"]{
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.testimonial_content span{
		display: none;
	}


	/*-----------  popup  -----------*/
	
		.service_item .hidden_block{
			display: block;
			padding: 0;
			border: none;
			padding-top: 18px;
			border-top: 1px solid #E9E9E9;
		}
		.readmore_box{display: none;}
			.hidden_block .arcticmodal-close{
				display: none;
			}
			.hidden_block .title3{
				display: none;
			}


}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
 	
	.list1 li{font-size: 20px;}
	.price_num{font-size: 60px;}

	.title1{font-size: 42px;}
	.title2{font-size: 22px;}


		.price_item .list1{
			width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
		.price_item .button{
			width: 248px;
		}
	
}

@media only screen and (max-width: 667px) {
	.owl-carousel.slider{
		width: 70%;
	}
	.slider .owl-controls{
		left: -60px;
		right: -60px;
	}

	#data-contact_us .absolute_form{width: 100%;}
	.absolute_form__title{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}


 	.app_item{
 		margin-bottom: 25px;
 	}
 	[id^="data-"]{
 		padding-bottom: 20px;
 	}
}

@media only screen and (max-width: 550px) {
	.num_list li{
		font-size: 18px;
	}

	.form_row{
		padding-top: 40px;
		margin-bottom: 15px;
	}
	.form_label{
		color: #FFF;
		visibility: visible;
	}
	[id^="data-"]{
		padding-top: 30px;
	}


	input::-webkit-input-placeholder{color: transparent;}
	input::-moz-placeholder{color: transparent;}
	input:-moz-placeholder{color: transparent;}
	input:-ms-input-placeholder{color: transparent;}
}

@media only screen and (max-width: 480px) {
 body{min-width:300px;}
 	.title1{
 		font-size: 36px;
 	}
 	.title2{font-size: 20px;}

 	.num_list li{line-height: 45px;}
 	.num_list li:not(:last-child){
 		margin-bottom: 100px;
 	}
 	.num_list li:last-child{margin-bottom: 0;}

 	.title_double{
 		font-size: 27px;
 		margin-bottom: 30px;
 	}
 	.title_double::before{
 		font-size: 30px;
 		top: -12px;
 	}
 	#data-how_it_works .title_double{
 		margin-bottom: 110px;
 	}


 	.card{height: auto !important;}

 	.service_item{height: 100% !important;}

 	nav{
 		width: 100%;
 		right: -480px;
 	}
 	.nav_overlay nav{
 		right: 0;
 		left: 0;
 	}

 	.hidden_block{
 		padding: 45px 12px 12px;
 	}
}

@media only screen and (max-width: 320px) {
	nav{
 		width: 100%;
 		right: -340px;
 	}
	.absolute_form__title{font-size: 17px;}
	.price_item .list1{width: 100%;}

	.slider .owl-controls{
		left: -50px;
		right: -50px;
	}
	.slider_item p,
	.slider_item p span{
		font-size: 17px;
	}

	.title1{font-size: 26px;}

	.price_title{
		font-size: 17px;
		padding: 10px;
		width: 130px;
		margin-bottom: 10px;
	}
		.price_num{
			font-size: 50px;
			margin-bottom: 20px;
		}
		.list1 li{
			font-size: 16px;
		}.price_item .button{
			margin-bottom: 30px;
		}
}