@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/jquery.jscrollpane.css";
@import "../css/tooltipster.bundle.min.css";
@import "../css/jquery.arcticmodal.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height:;
  color: #3b3d48;
  min-width: 960px;
  background: #fff;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a{
    color: #3b3d48;
    outline:none;
    text-decoration:underline;
    cursor:pointer;
  }
  a:hover{
    /*color: #;*/
    text-decoration:none;
  }

  .btn{
    display:inline-block;
    padding:0 0 0;
    margin: 0 0 0;
    font-size: px;
    line-height: px;
    color:#;
   }
  .btn:hover{
    background:;
    color:#000;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

  [data-color="yellow"]{color: #FFD335;}
  [data-color="grey_dark"]{color: #3d3d3d;}
  [data-color="grey_light"]{color: #9b9b9b;}
  [data-color="black"]{color: #242424;}
  [data-color="white"]{color: #000;}

  [data-skin="yellow"]{
    background-color: #FFD335;
  }


/*======================> Header <======================*/

  header {
    position: fixed;
    left: 35px  ;
    top: 20px;
    z-index: 99;
    width: 145px;
    bottom: 0;
  }
    .logo{}
      .logo a{
        display:block;
        width:130px;
        height:85px;
        background:url(../images/logo-menu.svg) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }

    .menu{
      width: 100%;
      text-align: right;
      font-family: 'Roboto', sans-serif;
    }
      .menu_item{
        display: block;
        margin-bottom: 2px;
      }
      .menu_item.current{}

        .menu_link{
          color: #000;
          font-size: 14px;
          text-transform: uppercase;
          padding: 0 5px;
          display: block;
          line-height: 27px;
          text-decoration: none;
        }
        .menu_link:hover{
          color: #CFCFCF;
          /*font-size: 16px;*/
        }
        .menu_item.current .menu_link,
        .menu_link.current{
          color: #FFD335;
          /*font-size: 16px;*/
        }

    .menu_btn{
      width: 40px;
      height: 40px;
      float: right;
      margin-top: 10px;
      display: none;
      background: url(../images/menu.png) 50% 50% no-repeat;
    }


/*=====================> Content ========================*/
#content {padding: 0 0 0 180px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}

    #content .container:first-child{
      padding-bottom: 750px;
      padding-top: 95px;
    }



  @media screen and (-webkit-min-device-pixel-ratio:0){
    header{
      background-color: transparent;
    }
    #content{
      padding: 0 0 0 180px;
    }
  }



  .canvas_wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: -115px;
  }

    .canvas_wrap #canvas{
      width: 100% !important;
      height: 100% !important;
    }
    .canvas_wrap::after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  /*-------------- FIXED FORM  ------------*/
    .canvas_wrap + .absolute_form{
      
      left: 50%;
      transform: translateX(-240px);
    }
    .absolute_form{
      width: 580px;
      z-index: 150;
      top: 300px;
      position: absolute;
      padding-top: 30px;
      padding-bottom: 48px;
      background-color: rgba(0, 0, 0, 0.35);
    }

        .canvas_wrap + .absolute_form .button{
          margin-top: 30px;
        }

      #content .container:first-child .title1,
      #content .container:first-child .title2{
        text-align: center;
      }
      .absolute_form .form{
        width: 100%;
        padding-left: 29px;
        padding-right: 29px;
      }
        .absolute_form__title{
          font-size: 18px;
          color: #606061;
          font-weight: 600;
          display: inline-block;
          width: calc(100% + 2px);
          padding: 20px 10px;
          border: 1px solid #BCBCBC;
          background-color: #F3F3F3;
          text-align: center;
          margin-bottom: 40px;
          margin-left: -1px;
          margin-right: -1px;
        }
        .form_row{
          padding-top: 27px;
          margin-bottom: 5px;
          position: relative;
        }

        .form_input{
          width: 100%;
          color: #FFF;
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          border-left: none;
          border-right: none;
          border-top: none;
          line-height: 26px;
          background-color: transparent;
          border-bottom: 2px solid #F3F3F3;
        }
        .form_input:active,
        .form_input:focus{
          color: #FFD335;
          border-color: #FFD335;
        }

        .form_label{
          position: absolute;
          visibility: hidden;
          top: 0;
          left: 0;
          color: #FFD335;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.5px;
          font-family: 'Open Sans', sans-serif;
          
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .form_input:focus + .form_label{
          visibility: visible;
          color: #FFD335;
        }

        .form .button{
          margin-top: 25px;
        }

        .button{
          color: #747474;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 600;
          width: 248px;
          padding: 10px;
          outline: none;
          display: block;
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          text-decoration: none;
          border: 2px solid #ffd335;
          /*background-color: transparent;*/
          -webkit-border-radius: 30px;
                  border-radius: 30px;
          font-family: 'Open Sans', sans-serif;
          
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .button:hover{
          color: #747474;
          /*background-color: #FFD335;*/
          background-color: #ffd335;
        }

        .button[data-skin="yellow"]:hover{
          color: #FFF;
          border-color: #FFF;
          /*box-shadow: 0 1px 5px #FFD335;*/
        }

        .button.d_none{display: none;}


        .form_success{
          display: none;
          visibility: hidden;
          padding: 12px 0 12px 80px;
          background: url(../images/success.png) 0% 50% no-repeat;
        }
        .form_success span{
          font-size: 30px;
          color: #fff;
        }

        .sent .form_success{
          display: block;
          margin-top: -180px;
          visibility: visible;
        }
        .sent .form_row,
        .sent .button{
          visibility: hidden;
        }


    /*-----------  INVALID FORM  ---------*/
      .form_input.invalid{
        border-color: red;
      }

  /*-------------- Arrow Down  ------------*/
    .arrow_down{
      display: block;
      position: absolute;
      top: 750px;
      width: 64px;
      height: 64px;
      left: 50%;
      margin-left: 18px;
      background: url(../images/arrow_down.png) 0 0 no-repeat;
      
      -webkit-animation: arrow_down 3s infinite; /* Safari 4+ */
      -moz-animation:    arrow_down 3s infinite; /* Fx 5+ */
      -o-animation:      arrow_down 3s infinite; /* Opera 12+ */
      animation:         arrow_down 3s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes arrow_down {
      0%{
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
    @-moz-keyframes arrow_down {
      0%{
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
    @-o-keyframes arrow_down {
      0%{
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
    @keyframes arrow_down {
      0%{
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

  [id^="data-"]{
    padding-top: 55px;
    padding-bottom: 75px;
  }

  [id="data-home"]{
    padding-top: 0;
  }

/*---------------------  SERVICES  ------------------*/
  .service_item{
    position: relative;
    border-top: 10px solid #E9E9E9;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #C2C2C2;
    box-shadow: 0 6px 13px #eee;
    
    padding: 13px 20px 13px;
    margin-bottom: 30px;
  }

    /*.service_item:hover::after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #2c2c2c;
      opacity: .3;
    }*/

  .service_item .img_box{
    padding-top: 13px;
    height: 125px;
    text-align: center;
      vertical-align: middle;
  }
    .service_item .img_box img{}
  
  .service_item .title3{
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .service_item p{
    font-size: 16px;
    color: #9CA1A4;
  }
  .service_item p:last-child{
    margin-bottom: 0;
  }

  .service_item .hidden_block{
    display: none;
    
  }

    .readmore_box{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background-color: rgba(44, 44, 44, 0.22);
      

      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
      .read_more{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        text-align: center;
        transform: translate(-75px, -20px);
        font-size: 16px;
        color: #FFF;
        padding: 7px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #FFD335;
        border: 2px solid #fff;
        -webkit-border-radius: 30px;
                border-radius: 30px;
      }
      .read_more:hover{
        border-color: #FFD335;
      }
    .service_item:hover .readmore_box{
      opacity: 1;
    }

  /*---------    Service Popup    -------*/
    /*#arcticmodalReserve1{display: block !important;}*/
    .hidden_block{
      width: 890px;
      margin-left: auto;
      margin-right: auto;
      padding: 45px 30px 15px;
      /*background-color: #FFF;*/
      position: relative;
      
      border-top: 10px solid #E9E9E9;
      border-left: 1px solid #D7D7D7;
      border-right: 1px solid #D7D7D7;
      border-bottom: 1px solid #C2C2C2;
    }
      .hidden_block .arcticmodal-close{
        width: 25px;
        height: 25px;
        right: 10px;
        top: 5px;
        cursor: pointer;
        background: url(../images/close.png) 50% 50% no-repeat;
      }

      .hidden_block p{
        color: #575757;
        font-size: 16px;
      }
      .hidden_block p:not(:first-child){
        color: #2D2D2D;
      }


      [data-bg="service_social"]{
        background: #fff url(../images/svg/social-icon.svg) 50% 50% no-repeat;
      }

      [data-bg="service_e-commerce"]{
        background: #fff url(../images/svg/e-commerce.svg) 50% 50% no-repeat;
      }

      [data-bg="service_data-change"]{
        background: #fff url(../images/svg/data-change.svg) 50% 50% no-repeat;
      }

      [data-bg^="service_"]{
        background-color: #FFF;
        -webkit-background-size: 270px 270px;
             -o-background-size: 270px 270px;
                background-size: 270px 270px;
      }


/*---------------------  APPLICATIONS  ------------------*/
  .app_item{
    text-align: center;
    margin-bottom: 100px;
  }
    .app_item .img_box{
      margin-bottom: 10px;
    }
      .app_item .img_box img{}

    .app_item .title4{
      color: #A0A3A5;
    }


/*---------------------  TESTIMONIALS  ------------------*/
  .owl-carousel.slider{
    width: 79.68%;
    margin-left: auto;
    margin-right: auto;
  }
    .slider h3{
      font-size: 24px;
      font-weight: 500;
      color: #FFD335;
      font-family: 'Roboto', sans-serif;
    }
    .slider span{
      font-size: 13px;
      color: #B0B2B4;
    }
    .slider p{
      font-size: 19.5px;
      font-style: italic;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      
    }
      .slider_item a{
        display: block;
        margin-bottom: 18px;
      }


    .testimonial_content i{
        font-style: normal;
      }
      .testimonial_content,
      .testimonial_content span{
        /*display: none;*/
        color: #3B3D48;
        font-size: 19.5px;
        font-style: italic;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .testimonial_content p{
        margin-bottom: 10px;
      }
      .testimonial_content i{display: none;}

    .slider .owl-controls{
      /*position: absolute;
      top: 50%;
      left: -110px;
      right: -110px;
      display: block !important;
      -webkit-transform: translateY(-12px);
         -moz-transform: translateY(-12px);
          -ms-transform: translateY(-12px);
           -o-transform: translateY(-12px);
              transform: translateY(-12px);*/

      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 0;
      z-index: 10;
      display: block !important;
    }
      .slider .owl-pagination{
        width: 100%;
        height: 10px;
        text-align: center;
        
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 10px;
      }
      .slider .owl-buttons{
        position: absolute;
        left: -110px;
        right: -110px;
        -webkit-transform: translateY(-12px);
           -moz-transform: translateY(-12px);
            -ms-transform: translateY(-12px);
             -o-transform: translateY(-12px);
                transform: translateY(-12px);
      }
        .owl-page{
          width: 10px;
          height: 10px;
          margin: 5px;
          display: inline-block;
          background-color: #B0B2B4;
          
          -webkit-border-radius: 50%;
                  border-radius: 50%;
        }
        .owl-page.active,
        .owl-page:hover{
          background-color: #FFD335;
        }

      .slider .owl-prev,
      .slider .owl-next{
        width: 25px;
        height: 25px;
        /*width: 50%;*/
        text-indent: -9999px;
      }
      .slider .owl-prev:hover,
      .slider .owl-next:hover{
        opacity: 0.6;
      }
      .slider .owl-prev{
        float: left;
        background: url(../images/prev.jpg) 50% 50% no-repeat;
      }

      .slider .owl-next{
        float: right;
        background: url(../images/next.jpg) 50% 50% no-repeat;
      }


/*---------------------  PRICES  ------------------*/
  .price_item{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-top-color: #FAFAFA;
    -webkit-box-shadow: 0 6px 13px #eee;
            box-shadow: 0 6px 13px #eee;
    font-family: 'Roboto', sans-serif;
  }
    .price_title{
      font-size: 20px;
      width: 145px;
      display: block;
      padding: 15px;
      color: #000;
      font-weight: 500;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      background-color: #FFD335;
    }
    /*.price_description{
      font-size: 16px;
      font-weight: 300;
      color: #9b9b9b;
      text-align: center;
      height: 50px;
      display: inline-block;
      width: 100%;
    }*/
    .price_num{
      position: relative;
      font-size: 70px;
      font-weight: 700;
      color: #333;
      /*height: 90px;*/
      margin-bottom: 50px;
      text-align: center;
    }
      .price_num::before{
        content: attr(data-limit);
        font-size: 16px;
        top: -15px;
        position: absolute;
        font-weight: 400;
      }
    .price_item .list1{
      position: relative;
      bottom: 0;
    }

      .price_item .button{
        font-size: 20px;
        color: #000;
        margin-bottom: 85px;
        text-transform: capitalize;
      }


/*---------------------  CONTACTS  ------------------*/
  #data-contact_us{
    position: relative;
    padding-bottom: 0;
    padding-top: 30px;
    z-index: 10;
    background-color: #8B8B8B;
  }

    #data-contact_us .absolute_form{
      width: 580px;
      position: relative;
      float: none;
      top: 0;
      padding-top: 0;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
    }
      #data-contact_us .title_double{
        color: #dbdbdb;
        margin-bottom: 20px;
      }
        #data-contact_us .title_double::before{
          color: #818181;
        }
      #data-contact_us .absolute_form__title{
        padding: 11px 10px;
        margin-bottom: 5px;
      }

/*---------------------  SCROLLPANE  ------------------*/
  /*.scrollpane{
    height: 317px;
    -ms-overflow-y: hidden;
        overflow-y: hidden;
        margin-bottom: 30px;
  }
  .scrollpane:hover{
    -ms-overflow-y: auto;
        overflow-y: auto;
  }
    .scrollpane .scroll-pane{
      width: 100% !important;
    }

    .scrollpane .jspContainer{
      width: 100% !important;
    }
    .scrollpane .jspPane{
      width: calc(100% - 20px) !important;
    }
    .scrollpane  p{
      font-size: 16px;
      color: #000;
    }

    .scrollpane .jspVerticalBar{
      width: 13px;
      display: none;
    }
      .scrollpane:hover .jspVerticalBar{
        display: block;
      }
    .scrollpane .jspTrack{
      background-color: #F6F6F6;
    }
    .scrollpane .jspDrag{
      background-color: #DEDEDE;
      -webkit-border-radius: 20px;
              border-radius: 20px;
    }


    .tooltip_templates{
      display: none;
    }
    .service_item:hover .tooltip_templates{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 317px;
    }

    .scrollpane{
      border-top: 1px solid #E9E9E9;
      border-left: 1px solid #D7D7D7;
      border-right: 1px solid #D7D7D7;
      border-bottom: 1px solid #C2C2C2;
      padding-left: 20px !important;
      padding-right: 20px !important;
      
    }
      .scrollpane .jspPane{
        padding-top: 13px !important;
        padding-bottom: 20px !important;
      }*/



/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb100{margin-bottom: 100px;}
  .mb125{margin-bottom: 125px;}
  .mb150{margin-bottom: 150px;}
  .mb200{margin-bottom: 200px;}
  .mb400{margin-bottom: 400px;}
  .mb500{margin-bottom: 500px;}


/*=====================> Lists ========================*/
  .list1{}
  .list1 li{
    padding-left:20px;
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
    color: #000;
  }
  .list1 li:before{
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    top: 5px;
    border: 2px solid #ffd335;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }

  .list2{
    color: #95989A;
  }
    .list2 li{
      font-size: 16px;
      position: relative;
      padding-left: 15px;
      margin-bottom: 7px;
    }
      .list2 li:before{
        content: "";
        position: absolute;
        width: 7px;
        left: 0;
        top: 11px;
        border-top: 1px solid #95989a;
      }


  .num_list{
    counter-reset: list;
  }
    .num_list li{
      list-style-type: none;
      line-height: 144px;
      position: relative;
      
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 35px;
    }
      .num_list li::before{
        counter-increment: list;
        content: counter(list) " ";
        
        width: 144px;
        height: 144px;
        font-size: 55px;
        font-weight: 300;
        color: #95989A;
        line-height: 144px;
        text-align: center;
        border: 2px solid #FFD53E;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        font-family: 'Roboto', sans-serif;
      }

      .num_list li::after{
        content: "";
        position: absolute;
        width: 56px;
        height: 75px;
        top: -90px;
        background: url(../images/arrow_list.jpg) 0 0 no-repeat;
      }

    .num_list li:nth-child(odd){
      /*padding-left: 170px; */
    }
      .num_list li:nth-child(odd)::before{
        float: left;
        left: 0;
        margin-right: 25px;
      }
      .num_list li:nth-child(odd)::after{
        left: 48px;
      }
    
    .num_list li:nth-child(even){
      text-align: right;
      /*padding-right: 170px;*/
    }
      .num_list li:nth-child(even)::before{
        float: right;
        right: 0;
        margin-left: 25px;
      }
      .num_list li:nth-child(even)::after{
        right: 48px;
      }

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 55px;
    line-height: 1.1;
    /*font-family: 'Roboto', sans-serif;*/
  }

  .title2{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
  }

  .title3{
    font-size: 26px;
    line-height: 1.2;
  }

  .title4{
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
  }

  .title_double{
    font-size: 40px;
    position: relative;
    font-weight: 400;
    margin-bottom: 110px;
    font-family: 'Roboto', sans-serif;
  }
  .title_double i{
    position: relative;
    font-weight: 500;
    z-index: 15;
    font-style: normal;
  }
    .title_double::before{
      content: attr(data-title);
      color: #F2F2F2;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      z-index: 5;
      font-size: 50px;
      font-weight: 500;
    }


/*================================>> GOOGLE FONTS  <<========================================*/

  .roboto{
    font-family: 'Roboto', sans-serif;
  }

  .fw_bold{
    font-weight: 700;
  }
  .fw_med{
    font-weight: 500;
  }

/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
    cursor:pointer;
    margin-top:0;
    text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    color: #FFF;
    /*text-align: center;*/
    font-weight: 300;
    padding: 10px 15px;
    border-top: 1px solid #707070;
    background-color: #747474;
  }
    footer p{margin-bottom: 0;}
    footer a{
      color: #FFF;
      text-decoration: none;
    }
    footer a:hover{text-decoration: underline;}

    .logo_footer{
      width: 216px;
      height: 59px;
      padding: 5px 0;
      /*margin-left: auto;*/
      /*margin-right: auto;*/
    }
    .social{
      overflow:hidden;
    }
      .social a{
        display:block;
        float:left;
        width:32px;
        height:32px;
        overflow:hidden;
        margin-left:8px;
      }
      .social a:first-child{margin: 0 0 0 0;}
      .social a:hover img{
        margin-top:-32px;
      }

    .footer_title{
      font-size: 16px;
      color: #FFF;
      font-weight: 400;
      /*text-decoration: underline;*/
      padding-bottom: 2px;
      /*border-bottom: 1px solid  #fff;*/
      margin-bottom: 5px;
    }

    a.skype{
      padding-left: 20px;
      background: url(../images/skype.png) 0% 50% no-repeat;
    }

/*============================= Easy responsive tabs ============================*/


  .resp-tabs-list li {
      
  }


  h2.resp-accordion {
      display: none;
  }

  .resp-tab-content {
      display: none;
  }

  .resp-content-active, .resp-accordion-active {
      display: block;
  }

  .resp-easy-accordion  h2.resp-accordion {
          display: block;
  }

  .resp-tab-content-active {
      display: block;
  }


  @media only screen and (max-width: 768px) {
      ul.resp-tabs-list {
          display: none;
      }

      h2.resp-accordion {
          display: block;
      }

      
      .resp-accordion-closed {
          display:none !important;
      }
      
  }


/*============================ Arctic modal =============================*/
/*  .arcticmodal-overlay,
  .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
  .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
  *:first-child+html .arcticmodal-container { height: 100% }
  .arcticmodal-container_i { height: 100%; margin: 0 auto; }
  .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
  .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
  .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
*/

/* ========================== OWL CAROUSEL =============================*/
  /*  Core Owl Carousel v1.3.2 CSS File  */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 20;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
    
  .owl-carousel .owl-item{
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing { 
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }


/*------------  PLACEHOLDER  -----------*/

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  textarea::-webkit-input-placeholder{
      
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea::-moz-placeholder{
      
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea:-moz-placeholder{
      
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea:-ms-input-placeholder{
      
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/

